---
const { url, platform } = Astro.props;
const isEmail = platform.toLowerCase() === 'email';
---
<a 
  href={isEmail ? `mailto:${url}` : url} 
  target={isEmail ? '_self' : '_blank'} 
  rel={isEmail ? null : 'noopener noreferrer'}
  class="text-black hover:underline"
>
  {platform}
</a> 